*.png
*.npy
samples_storage/
*.txt
*rec_*/
SDDAL_InShaPe_random/
training_curve_random/
statistics_sddal_single.py
!requirements.txt
!SDDAL_InShaPe_cl/Design_rec/
!SDDAL_InShaPe_Baseline/Design_rec/

*.csv
